PORT=3001
NODE_ENV=development

JWT_SECRET=change-me
JWT_EXPIRES_IN=1h

FIREBASE_SERVICE_ACCOUNT=secrets/firebase-admin.json
FIREBASE_STORAGE_BUCKET=

FRONT_RESET_URL=http://localhost:3000/reset-password
FRONT_SIGN_URL=http://localhost:3000/firma-movil
PASSWORD_TOKEN_EXPIRES_MIN=30
TOKEN_PEPPER=change-me
RETURN_RESET_TOKEN_IN_RESPONSE=false
INTERNAL_CRON_SECRET=

ADMIN_BOOTSTRAP_EMAIL=admin@example.com
ADMIN_BOOTSTRAP_PASSWORD=change-me-strong-password
ADMIN_BOOTSTRAP_NAME=Admin Seed

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=

MAX_DOCX_MB=15
EDIT_LOCK_TTL_MIN=20

ENABLE_LOCAL_DRAFT_CLEANUP=true
DRAFT_CLEANUP_CRON=10 3 * * *
TZ=America/Mexico_City

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GEMINI_TEMPERATURE=0.4
GEMINI_MAX_OUTPUT_TOKENS=4000
